<a href="https://colab.research.google.com/github/yvoderatskyi/Machine-Learning-Zoomcamp/blob/main/20210806_01_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
!python --version

Python 3.7.11

In [5]:
import numpy as np
import pandas as pd

# Q1. What's the version of NumPy that you installed?

In [4]:
np.__version__

'1.19.5'

# Q2. What's the version of Pandas?

In [6]:
pd.__version__

'1.1.5'

In [8]:
!wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

--2021-09-09 12:04:11--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1.4M) [text/plain]
Saving to: ‘data.csv’

data.csv            100%[===================>]   1.41M  --.-KB/s    in 0.02s

2021-09-09 12:04:11 (60.1 MB/s) - ‘data.csv’ saved [1475504/1475504]

In [10]:
cars = pd.read_csv('data.csv')

In [13]:
cars.sample(5)

           Make      Model  Year  ... city mpg  Popularity    MSRP
3198   Cadillac  CTS Coupe  2012  ...       18        1624   45850
10117    Suzuki        SX4  2011  ...       22         481   16599
6418      Acura     Legend  1993  ...       15         204    2000
10851    Nissan      Truck  1995  ...       16        2009    2281
11393     Dodge      Viper  2017  ...       12        1851  107995

[5 rows x 16 columns]

# Q3. What's the average price of BMW cars in the dataset?

In [16]:
cars['MSRP'].mean()

40594.737032063116

# Q4. How many of them have missing values for Engine HP?

In [26]:
cars[cars['Year'] >= 2015 & cars['Engine HP'].isnull()].shape[1]

16

In [39]:
mean_hp_before = cars['Engine HP'].mean()
mean_hp_after = cars['Engine HP'].fillna(mean_hp_before).mean()

# Q5

In [40]:
print(round(mean_hp_before))
print(round(mean_hp_after))

249
249

# Q6. What's the sum of all the elements of the result?

In [47]:
rolls_royce_cars = cars[cars['Make'] == "Rolls-Royce"][["Engine HP", "Engine Cylinders", "highway MPG"]]
rolls_royce_cars = rolls_royce_cars.drop_duplicates()
X = rolls_royce_cars.to_numpy()

In [60]:
XTX = X.dot(X.T)
XTX = XTX.T
print(round(XTX.sum()))

11671869

# Q7. What's the value of the first element of w?

In [59]:
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])